SUBSYSTEM=="usb", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="30fa", ATTRS{idProduct}=="1701", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="30fa", ATTRS{idProduct}=="1040", MODE="0660", TAG+="uaccess"

SUBSYSTEM=="hidraw", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="30fa", ATTRS{idProduct}=="1701", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="30fa", ATTRS{idProduct}=="1040", MODE="0660", TAG+="uaccess"
